@model Users

@{
 Layout = "~/Views/Shared/_LayoutWithoutHeader.cshtml";
}

<div id="containers" class="container mt-5 w-25 bg-white">
    <h2 id="heading" class="text-center text-grey">Login</h2>
    
    <form method="post">
        <div class="">
            <label asp-for="Email">Email</label>
            <input asp-for="Email" class="form-control"/>
        </div>

        <div class="align-items-center password-container">
            <div class="">
                <label asp-for="Password">Password</label>
                <input asp-for="Password" class="form-control" type="password"/>
            </div>
            
        </div>

        <div id="submit-button" class="text-center">
            <button type="submit" class="btn btn-primary mt-3">Login</button>
        </div>
    </form>
</div>





